# Gỡ nhãn "Documentation" mặc định của GitHub cho thư mục demo
demo/** linguist-documentation=false

# Ngăn GitHub nhận nhầm code demo là thư viện của bên thứ 3 (Vendored)
demo/** linguist-vendored=false
